%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  = render 'comment_form'
= render 'comments_table'
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
